a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.common__title {
  font-size: 25px;
  text-align: center;
  margin-top: 70px;
}

.common__btn {
  width: 250px;
  background-color: #cd0224;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  display: block;
}

.common__btn:hover {
  opacity: 0.7;
}

.common__btn p {
  color: white;
  font-size: 18px;
  display: block;
  width:100%;
  text-align: center;
  font-weight: bold;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  z-index: 2;
  background: white;
  width: 100%;
  align-items: center;
}

.header a {
  /* margin-left: 30px; */
  font-size: 25px;
  color: #000;
}

.menu__sp {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  right: 40px;
}

@media screen and (min-width: 769px) {
  .menu__sp {
    display: none;
  }
}

.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}
.menu__line--top {
  top: 0;
}
.menu__line--middle {
  top: 14px;
}
.menu__line--bottom {
  bottom: 0;
}

.open span:nth-child(1) {
  top: 14px;
  transform: rotate(45deg);
}

.open span:nth-child(2) {
  opacity: 0;
}
.open span:nth-child(3) {
  top: 14px;
  transform: rotate(-45deg);
}

.header__pc {
  display: none;
}

.header__pc li:hover {
  opacity: 0.7;
}

.draw__menu {
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: white;
  height: 100%;
  top: 0px;
  left: -100%;
  transition: 0.5s;
  z-index: 1;
  text-align: center;
  position: fixed;
  font-size: 20px;
  line-height: 50px;
  padding: 100px 0;
}

.draw__menu li:hover {
  opacity: 0.7;
}

.in {
  transform: translateX(100%);
}

@media screen and (min-width: 769px) {
  .header__pc {
    display: block;
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
  }
  .draw__menu {
    display: none;
  }
}

.header__pc li a {
  font-size: 16px;
  margin-left: 20px;
  font-weight: bold;
}


/* firstview */

.firstview {
  /* padding-top: 30px; */
  background-image: url(../img/mv.png);
  background-size: cover;
  height: 300px;
  position: relative;
  text-align: center;
}

.firstview__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.firstview__content h1 {
  font-size: 40px;
  line-height: 60px;
  color: white;
}

@media screen and (min-width: 769px) {
  .firstview {
    background-position: center center;
    height: 300px;
  }
}

/* サービス */

.container__wrap {
  margin: 30px;
}

.container__wrap--item {
  margin: 20px auto;
  width: 90%;
  border-bottom: solid 1px black;
}

.container__wrap--item:nth-child(1) {
  padding-top: 30px;
  border-top: solid 1px black;
}

.container__wrap--item img {
  width: 100%;
}

.container__wrap-text h3 {
  font-size: 26px;
  font-weight: bold;
  padding: 10px 0;
}

.container__wrap-text p {
  line-height: 24px;
  padding-bottom: 20px;
}

@media screen and (min-width: 769px) {
  .container__wrap {
    display: flex;
    flex-direction: column;
  }
  .container__wrap--item {
    width: 90%;
    display: flex;
    padding-bottom: 30px;
  }
  .container__wrap--item img {
    width: 30%;
  }
  .container__wrap-text {
    padding-left: 30px;
  }
}

/* inquery */

.container__f {
  background-color: rgb(240, 240, 240);
  padding-top: 30px;
  padding-bottom: 70px;
  box-sizing: border-box;
}

.container__f .inquiery-p {
  padding: 20px 0;
  text-align: center;
}


/* footer */

footer {
  background-color: #222;
  text-align: center;
  padding: 20px 0;
}

.footer__menu {
  display: flex;
  justify-content: center;
  position: relative;
}

.footer__menu small,
.footer__menu li a {
  color: white;
  font-size: 14px;
  line-height: 30px;
  margin: 0 50px;
}

.footer__menu small {
  padding: 80px 0;
}

.footer__menu ul li:hover {
  opacity: 0.7;
}

@media screen and (min-width: 769px) {
  footer {
    padding: 10px 0;
  }

  .footer__menu {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
  .footer__menu ul {
    display: flex;
    justify-content: space-between;
  }
  .footer__menu ul li:not(:last-child):after {
    content: "|";
    color: white;
    padding: 0 5px;
  }
  .footer__menu small,
  .footer__menu li a {
    margin: 0;
    padding: 0px;
  }
}
